<nav>
  <div>
    <ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active" >Mes livres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-loans" routerLinkActive="active" >Mes emprunts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-books" routerLinkActive="active" >Livres Disponibles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-link" (click)="logout()" >Se déconnecter</a> <!-- déconnecter l'utilisateur -->
      </li>
    </ul>
  </div>
</nav>
